table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border:1px solid black;
}
th, td {
    text-align:center;
}
th {
    background-color: #399c8f;
}
caption{
    font-size: 50px;
    color: black;
}
tr{
    background-color: aqua;
}